.form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 3.375rem;
  margin-top: calc(-3.375rem - (-3.375rem / 2));

  input {
    flex: 1;
    height: 100%;
    background-color: var(--gray-500);
    border: 0;
    border-radius: 8px;
    color: var(--gray-100);
    font-size: 1rem;
    padding: 1rem;
    transition: box-shadow 0.1s;

    &::placeholder {
      color: var(--gray-300);
    }

    &:focus {
      transition: box-shadow 0.1s;
      outline: transparent;
      box-shadow: 0 0 0 2px var(--purple-dark);
    }
  }

  button {
    height: 100%;
    background-color: var(--blue-dark);
    color: var(--gray-100);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    font-weight: 700;
    transition: background-color 0.1s;
    border: 0;

    &:hover {
      transition: background-color 0.1s;
      background-color: var(--blue);
    }
  }
}