.tasks {
  margin-top: 4.0625rem;

  .header {
    display: flex;
    justify-content: space-between;

    .tasksCreated, .finishedTasks {
      display: flex;
      gap: 8px;

      strong {
        color: var(--blue);
      }

      span {
        font-weight: 700;
        padding: 0.125rem 0.5rem;
        background-color: var(--gray-400);
        border-radius: 50px;
        font-size: 0.75rem;
        color: var(--gray-200);
      }
    }

    .finishedTasks {
      strong {
        color: var(--purple);
      }
    }
  }

  .taskList {
    margin-top: 1.5625rem;
    min-height: 244px;
    display: flex;
    position: relative;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    width: 100%;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 2.5rem;

    .noTask {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      display: flex;
      width: fit-content;
      height: fit-content;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.125rem;

      img {
        margin-bottom: 0.8125rem;
      }

      h1, h2 {
        color: var(--gray-300);
        font-size: 1rem;
        text-align: center;
      }

      h2 {
        font-weight: 400;
      }
    }
  }

  @media screen and (max-width: 425px) {
    margin-top: 5.625rem;

    .header {
      flex-direction: column;
      gap: 1.25rem;
    }
  }
}